@tailwind base;
@tailwind components;
@tailwind utilities;


/* For whitespace on the sides varying with width */
.padding-alignment {
  @apply sm:px-24 px-2;
}

.margin-alignment {
  @apply sm:mx-24 mx-2;
}

/* Add this class to hide horizontal scrolls */
.hide-scroll-x::-webkit-scrollbar {
  width: 0px;
}

// Default body background from our theme
body {
  @apply bg-paper;
}

/* Prevents blue highlight color of elements when tapped on phones */
* {
  -webkit-tap-highlight-color: transparent;
}
